@inherits LayoutComponentBase
@inject AppLocalizationService LocalizationService

<!-- Natively forces perfect font smoothing, line heights, and character tracking across devices -->
<div data-theme="night" lang="@_activeLang" class="min-h-screen bg-base-300 text-base-content font-sans antialiased flex flex-col justify-between">


    <!-- 1. TOP NAVIGATION BAR (Caters seamlessly to iPhone, iPad, and Desktop viewports) -->
    <div class="navbar bg-base-100 shadow-sm">
            <div class="navbar-start">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
                    </div>
                    <ul tabindex="-1"
                    class="menu menu-sm dropdown-content z-50 mt-2 w-56 rounded-box nav-menu p-2 shadow-2xl">
                        <li>
                            <details name="nav-menu-mobile">
                            <summary class="dropdown">@LocalizationService.NavCharacters</summary>
                            <ul class="rounded-box nav-menu p-2 bg-base-100  z-1 shadow-2xl dropdown-content">
                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_Main")</summary>
                                            <ul>
                                                <li><a>@LocalizationService.GetString("Nav_Eren")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_Mikasa")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_Armin")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_LeviAckerman")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_Historia")</a></li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_Titans")</summary>
                                            <ul>
                                                <li class="menu-title"><span>@LocalizationService.GetString("Nav_9Titans9")</span></li>
                                                <li><a>@LocalizationService.GetString("Nav_FoundingTitan")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_AttackTitan")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_ArmoredTitan")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_BeastTitan")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_CartTitan")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_ColossalTitan")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_FemaleTitan")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_JawTitan")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_WarHammerTitan")</a></li>
                                                <li class="menu-title"><span>@LocalizationService.GetString("Nav_Others")</span></li>
                                                <li><a>@LocalizationService.GetString("Nav_SonnyandBean")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_WallTitans")</a></li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_SurveyCorps")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                            <li class="menu-title"><span>@LocalizationService.GetString("Nav_Commanders")</span></li>
                                            <li><a>@LocalizationService.GetString("Nav_ErwinSmith")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Armin")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_HangeZoe")</a></li>

                                            <li class="menu-title"><span>@LocalizationService.GetString("Nav_SectionCommander")</span></li>
                                            <li><a>@LocalizationService.GetString("Nav_HangeZoe")</a></li>

                                            <li><a>@LocalizationService.GetString("Nav_ErwinSmith")</a></li>

                                            <li class="menu-title"><span>@LocalizationService.GetString("Nav_Captains")</span></li>
                                            <li><a>@LocalizationService.GetString("Nav_LeviAckerman")</a></li>
                                        </ul>
                                        </details>
                                    </li>

                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_TheSurveyCorpsSpecialOperation")</summary>
                                            <ul>
                                                <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_LeviAckerman")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_EldJinn")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_OluoBozado")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_PetraRal")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_GntherSchultz")</a></li>
                                            </ul>
                                        </details>
                                    </li>
                                
                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_GarrisonRegiment")</summary>
                                            <ul>
                                                <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_Hannes")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_DotPixis")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_RicoBrzenska")</a></li>
                                            </ul>
                                        </details>
                                    </li>

                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_MilitaryPoliceBrigade")</summary>
                                            <ul>
                                                <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_NileDok")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_MarloweFreudenberg")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_HitchDreyse")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_BorisFeulner")</a></li>
                                            </ul>
                                        </details>
                                    </li>

                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_TheFirstInteriorSquad")</summary>
                                            <ul>
                                                <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_KennyAckerman")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_TrauteCarven")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_DjelSanes")</a></li>
                                            </ul>
                                        </details>
                                    </li>

                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_RulingFamily")</summary>
                                            <ul>
                                                <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_Fritz")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_RodReiss")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_FriedaReiss")</a></li>
                                            </ul>
                                        </details>
                                    </li>

                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_TheRoyalGovernment")</summary>
                                            <ul>
                                                <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_Aurille")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_Deltoff")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_Gerald")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_Roderich")</a></li>
                                            </ul>
                                        </details>
                                    </li>

                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_Civilians")</summary>
                                            <ul>
                                                <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_GrishaYeager")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_CarlaYeager")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_MinisterNick")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_DimoReeves")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_Kaya")</a></li>                                      
                                            </ul>
                                        </details>
                                    </li>

                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_Marley")</summary>
                                            <ul>
                                                <li><a>@LocalizationService.GetString("Nav_CalviTheMarshal")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_TheoMagathAcommander")</a></li>  
                                                <li><a>@LocalizationService.GetString("Nav_WarriorUnit")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_ReinerBraun")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_ZekeYeager")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_BertoltHoover")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_AnnieLeonhart")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_MarcelGalliard")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_PorcoGalliard")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_PieckFinger")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_GabiBraun")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_FalcoGrice")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_ColtGrice")</a></li>                                   
                                            </ul>
                                        </details>
                                    </li>
 
                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_TyburFamily")</summary>
                                            <ul>
                                                <li><a>@LocalizationService.GetString("Nav_WillyTybur")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_LaraTybur")</a></li>
                                            </ul>
                                        </details>
                                    </li>

                                     <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_Yeagerists")</summary>
                                            <ul>
                                                <li><a>@LocalizationService.GetString("Nav_Eren")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_FlochForster")</a></li>
                                            </ul>
                                        </details>
                                    </li>

                                    <li>
                                        <details name="nav-sub-mobile">
                                            <summary>@LocalizationService.GetString("Nav_Other")</summary>
                                            <ul>
                                                <li><a>@LocalizationService.GetString("Nav_TheAntiMarleyanVolunteers")</a></li>
                                                <li><a>@LocalizationService.GetString("Nav_Underground")</a></li>                                                
                                            </ul>
                                        </details>
                                    </li>
                                </ul>
                            </details>
                        </li>

                        <li>
                            <details name="nav-menu-mobile">
                                <summary>@LocalizationService.NavExplore</summary>                     
                            <ul class="menu menu-sm dropdown-content z-50 mt-2 rounded-box nav-menu p-2 shadow-2xl">
                                    <li><a>@LocalizationService.GetString("Nav_Story")</a></li>
                                    <li><a>@LocalizationService.GetString("Nav_Timeline")</a></li>
                                    <li><a>@LocalizationService.GetString("Nav_Gallery")</a></li>
                                    <li><a>@LocalizationService.GetString("Nav_Quotes")</a></li>
                                    <li><a>@LocalizationService.GetString("Nav_Statistics")</a></li>
                                </ul>
                            </details>
                        </li>

                        <li><a>@LocalizationService.NavLoreMaps</a></li>

                        <li>
                            <details name="nav-menu-mobile">
                                <summary>@LocalizationService.NavMedia</summary>
                            <ul class="menu menu-sm dropdown-content z-50 mt-2 rounded-box nav-menu p-2 shadow-2xl">
                                    <li>
                                        <a href="/about-author">@LocalizationService.GetString("Nav_AboutAuthorHajimeIsayama")</a>
                                    </li>
                                    <li><a>@LocalizationService.GetString("Nav_Manga")</a></li>
                                    <li><a>@LocalizationService.GetString("Nav_Anime")</a></li>
                                    <li><a>@LocalizationService.GetString("Nav_Games")</a></li>
                                    <li><a>@LocalizationService.GetString("Nav_Comics")</a></li>
                                    <li><a>@LocalizationService.GetString("Nav_Movies")</a></li>
                                    <li><a>@LocalizationService.GetString("Nav_Fanarts")</a></li>
                                    <li><a>@LocalizationService.GetString("Nav_Books")</a></li>
                                    <li><a>@LocalizationService.GetString("Nav_Magazines")</a></li>
                                    <li><a>@LocalizationService.GetString("Nav_Other")</a></li>
                                </ul>
                            </details>
                        </li>

                        <li><a>@LocalizationService.NavNews</a></li>

                        <li><a>@LocalizationService.NavFanZone</a></li>
                    </ul>
                </div>
                <a class="text-sm" href="/"><img alt="進撃の巨人 Attack on Titan" src="/img/aot-logo-m.png" class="brand-mark" /></a>
            </div>
        <div class="navbar-center hidden lg:flex dropdown dropdown-open gap-8 ">
            <ul class="menu menu-horizontal gap-2 px-1 nav-links">
                    <li>
                    <details name="nav-menu-desktop">
                        <summary tabindex="0">@LocalizationService.NavCharacters</summary>
                        <ul tabindex="-1" class="menu menu-sm dropdown-content z-50 mt-2 nav-menu  shadow-2xl">
                                <li>
                                    <details name="nav-sub-desktop">
                                        <summary class="sub-summary">@LocalizationService.GetString("Nav_Main")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_Eren")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Mikasa")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Armin")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_LeviAckerman")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Historia")</a></li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details name="nav-sub-desktop">
                                    <summary class="sub-summary">@LocalizationService.GetString("Nav_Titans")</summary>
                                        <ul>
                                            <li class="menu-title"><span>@LocalizationService.GetString("Nav_9Titans9")</span></li>
                                            <li><a>@LocalizationService.GetString("Nav_FoundingTitan")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_AttackTitan")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_ArmoredTitan")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_BeastTitan")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_CartTitan")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_ColossalTitan")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_FemaleTitan")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_JawTitan")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_WarHammerTitan")</a></li>
                                            <li class="menu-title"><span>@LocalizationService.GetString("Nav_Others")</span></li>
                                            <li><a>@LocalizationService.GetString("Nav_SonnyandBean")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_WallTitans")</a></li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details name="nav-sub-desktop">
                                    <summary class="sub-summary">@LocalizationService.GetString("Nav_SurveyCorps")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                            <li class="menu-title"><span>@LocalizationService.GetString("Nav_Commanders")</span></li>
                                            <li><a>@LocalizationService.GetString("Nav_ErwinSmith")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Armin")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_HangeZoe")</a></li>

                                            <li class="menu-title"><span>@LocalizationService.GetString("Nav_SectionCommander")</span></li>
                                            <li><a>@LocalizationService.GetString("Nav_HangeZoe")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_ErwinSmith")</a></li>

                                            <li class="menu-title"><span>@LocalizationService.GetString("Nav_Captains")</span></li>
                                            <li><a>@LocalizationService.GetString("Nav_LeviAckerman")</a></li>
                                        </ul>
                                    </details>
                                </li>

                                <li>
                                    <details name="nav-sub-desktop">
                                    <summary class="sub-summary">@LocalizationService.GetString("Nav_TheSurveyCorpsSpecialOperation")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_LeviAckerman")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_EldJinn")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_OluoBozado")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_PetraRal")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_GntherSchultz")</a></li>
                                        </ul>
                                    </details>
                                </li>

                                <li>
                                    <details name="nav-sub-desktop">
                                    <summary class="sub-summary">@LocalizationService.GetString("Nav_GarrisonRegiment")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Hannes")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_DotPixis")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_RicoBrzenska")</a></li>
                                        </ul>
                                    </details>
                                </li>

                                <li>
                                    <details name="nav-sub-desktop">
                                    <summary class="sub-summary">@LocalizationService.GetString("Nav_MilitaryPoliceBrigade")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_NileDok")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_MarloweFreudenberg")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_HitchDreyse")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_BorisFeulner")</a></li>
                                        </ul>
                                    </details>
                                </li>

                                <li>
                                    <details name="nav-sub-desktop">
                                    <summary class="sub-summary">@LocalizationService.GetString("Nav_TheFirstInteriorSquad")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_KennyAckerman")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_TrauteCarven")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_DjelSanes")</a></li>
                                        </ul>
                                    </details>
                                </li>

                                <li>
                                    <details name="nav-sub-desktop">
                                    <summary class="sub-summary">@LocalizationService.GetString("Nav_RulingFamily")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Fritz")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_RodReiss")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_FriedaReiss")</a></li>
                                        </ul>
                                    </details>
                                </li>

                                <li>
                                    <details name="nav-sub-desktop">
                                    <summary class="sub-summary">@LocalizationService.GetString("Nav_TheRoyalGovernment")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Aurille")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Deltoff")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Gerald")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Roderich")</a></li>
                                        </ul>
                                    </details>
                                </li>

                                <li>
                                    <details name="nav-sub-desktop">
                                    <summary class="sub-summary">@LocalizationService.GetString("Nav_Civilians")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_AllMembers")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_GrishaYeager")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_CarlaYeager")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_MinisterNick")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_DimoReeves")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Kaya")</a></li>
                                        </ul>
                                    </details>
                                </li>

                                <li>
                                    <details name="nav-sub-desktop">
                                        <summary class="sub-summary">@LocalizationService.GetString("Nav_Marley")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_CalviTheMarshal")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_TheoMagathAcommander")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_WarriorUnit")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_ReinerBraun")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_ZekeYeager")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_BertoltHoover")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_AnnieLeonhart")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_MarcelGalliard")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_PorcoGalliard")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_PieckFinger")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_GabiBraun")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_FalcoGrice")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_ColtGrice")</a></li>
                                        </ul>
                                    </details>
                                </li>

                                <li>
                                    <details name="nav-sub-desktop">
                                    <summary class="sub-summary">@LocalizationService.GetString("Nav_TyburFamily")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_WillyTybur")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_LaraTybur")</a></li>
                                        </ul>
                                    </details>
                                </li>
                                
                                <li>
                                <details name="nav-sub-desktop">
                                        <summary>@LocalizationService.GetString("Nav_Yeagerists")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_Eren")</a></li>
                                        <li><a>@LocalizationService.GetString("Nav_FlochForster")</a></li>
                                        </ul>
                                    </details>
                                </li>



                                <li>
                                    <details name="nav-sub-desktop">
                                    <summary class="sub-summary">@LocalizationService.GetString("Nav_Other")</summary>
                                        <ul>
                                            <li><a>@LocalizationService.GetString("Nav_TheAntiMarleyanVolunteers")</a></li>
                                            <li><a>@LocalizationService.GetString("Nav_Underground")</a></li>
                                        </ul>
                                    </details>
                                </li>
                            </ul>
                        </details>
                    </li>

                    <li>
                        <details name="nav-menu-desktop">
                            <summary tabindex="0">@LocalizationService.NavExplore</summary>
                            <ul tabindex="-1" class="menu menu-sm dropdown-content z-50 mt-2  nav-menu p-2 shadow-2xl">
                                <li><a>@LocalizationService.GetString("Nav_Story")</a></li>
                                <li><a>@LocalizationService.GetString("Nav_Timeline")</a></li>
                                <li><a>@LocalizationService.GetString("Nav_Gallery")</a></li>
                                <li><a>@LocalizationService.GetString("Nav_Quotes")</a></li>
                                <li><a>@LocalizationService.GetString("Nav_Statistics")</a></li>
                            </ul>
                        </details>
                    </li>
                    <li><a>@LocalizationService.NavLoreMaps</a></li>

                    <li>
                        <details name="nav-menu-desktop">
                            <summary tabindex="0">@LocalizationService.NavMedia</summary>
                            <ul tabindex="-1" class="menu menu-sm dropdown-content z-50 mt-2 nav-menu p-2 shadow-2xl">
                                <li><a>@LocalizationService.GetString("Nav_Manga")</a></li>
                                <li><a>@LocalizationService.GetString("Nav_Anime")</a></li>
                                <li><a>@LocalizationService.GetString("Nav_Games")</a></li>
                                <li><a>@LocalizationService.GetString("Nav_Comics")</a></li>
                                <li><a>@LocalizationService.GetString("Nav_Movies")</a></li>
                                <li><a>@LocalizationService.GetString("Nav_Fanarts")</a></li>
                                <li><a>@LocalizationService.GetString("Nav_Books")</a></li>
                                <li><a>@LocalizationService.GetString("Nav_Magazines")</a></li>
                                <li><a>@LocalizationService.GetString("Nav_Other")</a></li>
                            </ul>
                        </details>
                    </li>

                    <li><a>@LocalizationService.NavNews</a></li>

                    <li><a>@LocalizationService.NavFanZone</a></li>
                </ul>
            </div>
            <div class="navbar-end">
                <!--1. Search -->
                <button class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>
                </button>

                <!-- 2. IMAGE LANGUAGE SWITCHER BUTTON SELECTION MATRIX -->
                <div class="flex gap-1.5 p-1 rounded-xl scale-90 md:scale-100">
                    <!-- EN Button Trigger -->
                    <button class="btn btn-xs tracking-wide rounded-lg px-2 transition-all duration-200
                        @(_activeLang == "en" ? "btn-error text-white shadow-lg shadow-error/30" : "btn-outline border-neutral-content/20 opacity-60")"
                            @onclick='() => ChangeLanguage("en")'>
                        EN
                    </button>

                    <!-- JP Button Trigger -->
                    <button class="btn btn-xs tracking-wide rounded-lg px-2 transition-all duration-200
                        @(_activeLang == "jp" ? "btn-error text-white shadow-lg shadow-error/30" : "btn-outline border-neutral-content/20 opacity-60")"
                            @onclick='() => ChangeLanguage("jp")'>
                        JP
                    </button>

                    <!-- CN Button Trigger (ZH Localization Variable Mapping) -->
                    <button class="btn btn-xs tracking-wide rounded-lg px-2 transition-all duration-200
                        @(_activeLang == "zh" ? "btn-error text-white shadow-lg shadow-error/30" : "btn-outline border-neutral-content/20 opacity-60")"
                            @onclick='() => ChangeLanguage("zh")'>
                        CN
                    </button>
                </div>
            </div>
        </div>
        
        
 

    <!-- 3. MAIN CONTENT LAYOUT ENGINE -->
    <!-- 
      Responsive Rules Engine:
      - iPhone/Mobile: Arranges elements inside a singular column vertical feed channel.
      - Desktop/iPad Landscape: Automatically expands into a side-by-side split grid configuration.
    -->
    <div class="container mx-auto p-4 md:p-6 lg:p-8 grid grid-cols-1 lg:grid-cols-4 gap-6 lg:gap-8 flex-grow">
 
        <!-- CHILD ROUTE RENDERING INTERFACE LAYER -->
        <main class="lg:col-span-3 flex flex-col gap-2">
            <CascadingValue Value="@_activeLang">
                @Body
            </CascadingValue>
        </main>

        <!-- TACTICAL SIDEBAR BOARD -->
        <aside class="lg:col-span-1 flex flex-col gap-6">
            <!-- Faction Selection Control Framework -->
            <div class="card bg-base-100 p-5 shadow-2xl border border-neutral-content/10">
                <h3 class="font-black text-xs uppercase tracking-widest text-error mb-2">@LocalizationService.FactionTitle</h3>
                <p class="text-xs opacity-80 mb-4">@LocalizationService.FactionDesc</p>
                <div class="flex flex-col gap-2">
                    <button class="btn btn-sm btn-error h-auto py-2.5 px-4 text-center break-words whitespace-normal font-bold" @onclick='() => SelectFaction("marley")'>
                        @LocalizationService.FactionBtn1
                    </button>
                    <button class="btn btn-sm btn-secondary h-auto py-2.5 px-4 text-center break-words whitespace-normal font-bold" @onclick='() => SelectFaction("paradis")'>
                        @LocalizationService.FactionBtn2
                    </button>
                </div>
            </div>
        </aside>

    </div>

    @if (_showModal)
    {
        <div class="modal modal-open">
            <div class="modal-box border border-neutral-content/10 bg-base-200 shadow-2xl">
                <h3 class="font-black text-lg uppercase text-white flex items-center gap-2">
                    <i class="ti ti-sword"></i> @_modalTitle
                    <span class="badge badge-@_modalTheme text-xs font-bold px-2 py-0.5">@_modalBadge</span>
                </h3>
                <p class="py-4 text-sm opacity-90 whitespace-pre-line leading-relaxed">
                    @_modalBody
                </p>
                <div class="modal-action">
                    <button class="btn btn-sm btn-@_modalTheme font-bold px-5" @onclick="CloseModal">
                        @(_activeLang == "zh" ? "確認" : (_activeLang == "jp" ? "了解" : "Acknowledge"))
                    </button>
                </div>
            </div>
            <div class="modal-backdrop bg-black/60" @onclick="CloseModal"></div>
        </div>
    }

    <!-- 4. SYSTEM FOOTER WRAPPER -->
    <footer class="footer footer-center p-6 bg-base-100 text-neutral-content text-xs border-t border-neutral">
        <aside class="flex flex-col gap-1.5">
            <p class="opacity-60 font-sans tracking-wide">「什麼都無法捨棄的人，什麼也改變不了。」</p>
            <p class="text-primary font-bold">@LocalizationService.FooterCredit</p>
        </aside>
    </footer>

</div>

@code {
    // FIXED DEFAULT LOCALIZATION VALUE: Alter this key variable string parameter to switch fallback profiles natively.
    private string _activeLang = "zh";

    private bool _showModal = false;
    private string _modalTitle = "";
    private string _modalBody = "";
    private string _modalBadge = "";
    private string _modalTheme = ""; // "error" (Marley) or "secondary" (Paradis)

    protected override void OnInitialized()
    {
        LocalizationService.ActiveLang = _activeLang;
        string cultureCode = _activeLang == "jp" ? "ja" : _activeLang;
        var cultureInfo = new System.Globalization.CultureInfo(cultureCode);
        System.Globalization.CultureInfo.CurrentCulture = cultureInfo;
        System.Globalization.CultureInfo.CurrentUICulture = cultureInfo;
    }

    private void ChangeLanguage(string targetLang)
    {
        _activeLang = targetLang;
        LocalizationService.ActiveLang = targetLang;
        // Update the culture context when language changes
        string cultureCode = targetLang == "jp" ? "ja" : targetLang;
        var cultureInfo = new System.Globalization.CultureInfo(cultureCode);
        System.Globalization.CultureInfo.CurrentCulture = cultureInfo;
        System.Globalization.CultureInfo.CurrentUICulture = cultureInfo;
        StateHasChanged(); 
    }

    private void SelectFaction(string faction)
    {
        if (faction == "marley")
        {
            _modalTitle = _activeLang switch
            {
                "zh" => "馬萊帝國",
                "jp" => "マーレ帝国",
                _ => "Marley Empire"
            };
            _modalBody = _activeLang switch
            {
                "zh" => "「為了馬萊的榮耀！」\n\n你已宣誓效忠馬萊。戰士，準備好繼承巨人之力，為帝國開疆拓土了嗎？",
                "jp" => "「マーレの栄光のために！」\n\nマーレへの忠誠を誓いました。戦士よ、巨人の力を継承し、帝国の未来を切り拓く覚悟はあるか？",
                _ => "\"For the glory of Marley!\"\n\nYou have pledged your loyalty to the Marleyan Empire. Warrior, are you ready to inherit the power of the Titans and fight for the Motherland?"
            };
            _modalBadge = _activeLang switch
            {
                "zh" => "榮譽馬萊人",
                "jp" => "名誉マーレ人",
                _ => "Honorary Marleyan"
            };
            _modalTheme = "error";
        }
        else
        {
            _modalTitle = _activeLang switch
            {
                "zh" => "帕拉迪島",
                "jp" => "パラディ島",
                _ => "Paradis Island"
            };
            _modalBody = _activeLang switch
            {
                "zh" => "「獻出你的心臟吧！」（心臓を捧げよ！）\n\n我們是牆內最後的希望。為了全人類的自由，奉獻一切！",
                "jp" => "「心臓を捧げよ！」\n\n我々は壁の中の最後の希望だ。全人類の自由のために、すべてを捧げよ！",
                _ => "\"Dedicate your hearts! (Shinzou wo Sasageyo!)\"\n\nWe are the last hope inside the walls. Sacrifice everything for the absolute freedom of humanity!"
            };
            _modalBadge = _activeLang switch
            {
                "zh" => "調查兵團",
                "jp" => "調査兵団",
                _ => "Survey Corps"
            };
            _modalTheme = "secondary";
        }
        _showModal = true;
    }

    private void CloseModal()
    {
        _showModal = false;
    }
}



<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

 